<div class="books-overview">
  <h2 class="title">Books Overview</h2>
  @if (books$ | async; as books) {
  <div class="actions">
    <p class="header-info">{{ books.length }} books</p>
    <button class="primary" type="button" (click)="openAddBookDialog()">
      + New Book
    </button>
  </div>
  <dialog #addBookDialog>
    <h3>Add a new book</h3>
    <form #bookForm="ngForm" (ngSubmit)="onSaveBook(bookForm.value)">
      <label for="title">Title:</label>
      <input type="text" id="title" name="title" required />

      <label for="author">Author:</label>
      <input type="text" id="author" name="author" required />

      <div class="button-group">
        <button type="button" class="secondary" (click)="closeAddBookDialog()">
          Cancel
        </button>
        <button type="submit" class="primary">Save Book</button>
      </div>
    </form>
  </dialog>

  <ul class="book-list">
    @for (book of books; track book.bookId) {
    <li class="card">
      <div class="card-header">
        <h3 class="card-title">{{ book.title }}</h3>
        <p class="card-subtitle">{{ book.author }}</p>
      </div>
    </li>
    }
  </ul>
  }
</div>
