:host {
  --content-padding: 10px;
}
header {
  display: flex;
  align-items: center;
  height: 40px;
  padding: var(--content-padding);
  box-shadow: 0px 5px 25px var(--shadow-color);
}
.content {
  padding: var(--content-padding);
}

.brand-logo {
  height: 64px;
  width: auto;
  display: block;
}

.brand-name {
  padding: var(--content-padding);
}
