<div class="books-overview">
  <h2 class="title">Books Overview</h2>
  @if (books$ | async; as books) {
  <div class="actions">
    <p class="header-info">{{ books.length }} books</p>
    <button class="primary">+ New Book</button>
  </div>
  <ul class="book-list">
    @for (book of books; track book.bookId) {
    <li class="book-card">
      <div class="book-card__header">
        <h3 class="book-title">{{ book.title }}</h3>
        <p class="book-author">{{ book.author }}</p>
      </div>
    </li>
    }
  </ul>
  }
</div>
