div {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: start;
}

.book-details-card {
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 80vw;
}

.character-list {
  display: flex;
  gap: 12px;
  flex-direction: row;
}

.character-profession {
  font-style: italic;
}

.character-header {
  display: flex;
  flex-direction: row;
}
