.card {
  --g1: hsl(210 90% 96%);
  --g2: hsl(260 80% 97%);
  background: linear-gradient(135deg, var(--g1), var(--g2));
  border: 1px solid var(--text-color);
  border-radius: 16px;
  padding: 18px;
  box-shadow: 0 6px 18px rgba(100, 100, 100, 0.09);
}

.card-header {
  display: flex;
  justify-content: space-between;
  align-items: start;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 10px;
}

.card-title {
  font-size: 18px;
  color: var(--primary-color);
}

.card-subtitle {
  font-size: 14px;
  color: var(--text-color);
}
